*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x:hidden;
  --surface-color:#F7F745;
  --curve:40;
}

nav {
  height:100px;
  background-color:#1B1B0D;
}

#logo {
  width:200px;
  height:70px;
}

.btn-group {
  margin-left:500px;
}

.dropbtn {
  background-color:#1B1B0D;
  color:#F7F745;
  margin-left:50px;
  border-radius:10px;
  width:120px;
  height:50px;
}

.dropbtn:hover {
  background-color:#4AAB24;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:none;
  position:absolute;
  background-color:#F7F745;
  min-width:160px;
  z-index:1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown link hover color */
.dropdown-content a:hover {
  background-color:#4AAB24;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display:block;
}









.text-blk {
  line-height:25px;
  margin-top:20px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}

.section-head-text {
  position:relative;
  top:150px;
  left:650px;
  z-index:100;
  font-size:42px;
  font-weight:700;
}

.section-subhead-text {
  position:relative;
  top:250px;
  left:50px;
  width:1100px;
  text-align:center;
  z-index:100;
  font-size:24px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:8rem;
  margin:4rem 5vw;
  padding:0;
  width:500px;
  height:400px;
  list-style-type: none;
}

#card1 {
  position:relative;
  top:300px;
  left:100px;
  display:block;
  height:100%;  
  border-radius:calc(var(--curve) * 1px);
  overflow:hidden;
  text-decoration:none;
}

#card2 {
  position:relative;
  top:333px;
  left:710px;
  display:block;
  height:100%;  
  border-radius:calc(var(--curve) * 1px);
  overflow:hidden;
  text-decoration:none;
}

#card3 {
  position:relative;
  top:-932px;
  left:700px;
  display:block;
  height:100%;  
  border-radius:calc(var(--curve) * 1px);
  overflow:hidden;
  text-decoration:none;
}

#card4 {
  position:relative;
  top:-900px;
  left:110px;
  display:block;
  height:100%;  
  border-radius:calc(var(--curve) * 1px);
  overflow:hidden;
  text-decoration:none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color:#1B1B0D;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size:0.8em; 
  color:#4AAB24;
}

.card__status {
  font-size: .8em;
  color:#4AAB24;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color:#1B1B0D;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}









.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}





button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position:relative;
  top:1000px;
  width:800px;
  height:450px;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color:#4AAB24;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background:#F7F745;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666666;
  color: #dddddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666666;
}

.app-form-control:focus {
  border-bottom-color: #dddddd;
}

.app-form-button {
  background: none;
  border: none;
  color:#F7F745;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color:#4AAB24;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}






#footer {
  width:100%;
  position:absolute;
  top:2350px;
}

.fa {
  padding:18px;
  font-size:30px;
  width:50px;
  height:50px;
  border-radius:100%;
  text-align:center;
  text-decoration:none;
}

.fa-facebook {
  background:#3B5998;
  color:white;
}

.fa-facebook:hover {
  background:#1B1B0D;
  color:white;
}

.fa-twitter {
  background:#55ACEE;
  color:white;
}

.fa-twitter:hover {
  background:#1B1B0D;
  color:white;
}

.fa-whatsapp {
  background:#25D366;
  color:white;
}

.fa-whatsapp:hover {
  background:#1B1B0D;
  color:white;
}

.fa-youtube {
  background:#bb0000;
  color:white;
}

.fa-youtube:hover {
  background:#1B1B0D;
  color:white;
}

#back-to-top-button {
  position:fixed;
  bottom:20px;
  right:30px;
  width:50px;
  height:50px;
  z-index:1000;
  border:1px solid #1B1B0D;
  border-radius:100%;
  opacity:0.6;
  background-color:red;
  color:#1B1B0D;
  cursor:pointer;
  padding:15px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#back-to-top-button:hover {
  opacity:0.8;
}

#back-to-top-button:active {
  background-color:red;
  opacity:0.8;
  box-shadow:0 5px #000000;
  transform:translateY(0.1px);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}