/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

nav {
  height:100px;
  background-color:#1B1B0D;
}

#logo {
  width:200px;
  height:70px;
}

.btn-group {
  margin-left:500px;
}

.dropbtn {
  background-color:#1B1B0D;
  color:#F7F745;
  margin-left:50px;
  border-radius:10px;
  width:120px;
  height:50px;
}

.dropbtn:hover {
  background-color:#4AAB24;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:none;
  position:absolute;
  background-color:#F7F745;
  min-width:160px;
  z-index:1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown link hover color */
.dropdown-content a:hover {
  background-color:#4AAB24;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display:block;
}

button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.header {
  position:fixed;
  top:0;
  z-index:100000;
  width:100%;
}

.bgimg {
  /* Background image */
  background-image: url("https://cdn.glitch.global/6adfd3eb-c4db-4e86-84ea-38fb54f0ec9a/Tea%20Plantation.jpg?v=1724252457738");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.glow {
  font-size:80px;
  color:#ffffff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #4AAB24, 0 0 20px #1B1B0D, 0 0 30px #F7F745, 0 0 40px #F7F745, 0 0 50px #F7F745, 0 0 60px #F7F745, 0 0 70px #F7F745;
  }
  
  to {
    text-shadow: 0 0 20px #4AAB24, 0 0 30px #1B1B0D, 0 0 40px #1B1B0D, 0 0 50px #1B1B0D, 0 0 60px #1B1B0D, 0 0 70px #1B1B0D, 0 0 80px #1B1B0D;
  }
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

#footer {
  width:100%;
  position:absolute;
  top:700px;
  left:0px;
}

.fa {
  padding:18px;
  font-size:30px;
  width:50px;
  height:50px;
  border-radius:100%;
  text-align:center;
  text-decoration:none;
}

.fa-facebook {
  background:#3B5998;
  color:white;
}

.fa-facebook:hover {
  background:#1B1B0D;
  color:white;
}

.fa-twitter {
  background:#55ACEE;
  color:white;
}

.fa-twitter:hover {
  background:#1B1B0D;
  color:white;
}

.fa-whatsapp {
  background:#25D366;
  color:white;
}

.fa-whatsapp:hover {
  background:#1B1B0D;
  color:white;
}

.fa-youtube {
  background:#bb0000;
  color:white;
}

.fa-youtube:hover {
  background:#1B1B0D;
  color:white;
}